<footer class="footer">
  <div class="flag-counter">
    <a href="https://info.flagcounter.com/145E" target="_blank" rel="noopener">
      <img class="fc-light"
           src="https://s05.flagcounter.com/count2/145E/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_27/viewers_0/labels_0/pageviews_0/flags_0/percent_0/"
           alt="Flag Counter" loading="lazy">
      <img class="fc-dark"
           src="https://s05.flagcounter.com/count2/145E/bg_18181B/txt_F4F4F5/border_27272A/columns_3/maxflags_27/viewers_0/labels_0/pageviews_0/flags_0/percent_0/"
           alt="Flag Counter" loading="lazy">
    </a>
  </div>

  <p class="footer-note">
    Design inspired by <a href="https://github.com/alshedivat/al-folio" target="_blank" rel="noopener">al-folio</a>.
    &copy; {{ 'now' | date: '%Y' }} {{ site.author }}.
  </p>
</footer>
